@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: rgba(120, 110, 110, 0.8);
    font-family: 'Rubik Dirt', cursive;
}

/* body::before {
    content: "";
    position: absolute;
    background-image: url("https://images.unsplash.com/photo-1563770660941-20978e870e26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y29tcHV0ZXIlMjByZXBhaXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    width: 100%;
    display: block;
    z-index: -1;
    opacity: 0.88;
    background-repeat: no-repeat;
    background-size: 100% 100%;
} */
.menu-icon{
    display: none;
    cursor: pointer;
}
.head {
    position: relative;
}

.head::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("https://cdn.pixabay.com/photo/2017/01/06/09/33/construction-material-1957326__340.jpg");
    opacity: 0.7;
    top: 1px;
    width: 100%;
    height: 100%;
}

.head h1 {
    position: relative;
    text-align: center;
    font-size: 35px;
    letter-spacing: 35px;
    font-family: 'Blaka Ink', cursive;
    margin: 0;
}

.header {
    /* border: 2px solid red; */
    background-color: rgb(182, 156, 156);
    display: inline-block;
    width: 100%;
    /* height: 59px; */
}

.logo {
    /* border: 2px solid black; */
    display: inline-block;
    width: 50px;
    margin: 0px 10px;
}

.head1 {
    font-size: 23px;
    padding: 14px;
}

nav ul {
    /* border: 2px solid blue; */
    display: inline-block;
    margin: 0px;
    width: auto;
}
.closebtn{
    display: none;
}
nav ul li {
    display: inline-block;
    /* border: 2px solid black; */
    margin: 0px auto;
    position: relative;
    right: 20px;
    border-radius: 25px;
    list-style-type: none;
}

.head1,
.dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.head1:hover {
    background-color: rgb(244, 223, 223);
    box-shadow: 5px 4px;
    border-radius: 25px;
    /* font-size: 25px; */
}

/* contact */

.contact-content {
    display: none;
    position: absolute;
    background-color: rgb(117, 243, 228);
    width: 396%;
    /* border: 2px solid red; */
    top: 57px;
    border-radius: 15px;
}

.head2 {
    display: inline;
    margin: 0px 5px;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;
    color: black;
    font-weight: bold;
    padding: 10px;
    margin: 0px 10px;
}

.dropdown:hover .contact-content {
    display: block;
}

.contact-content a:hover {
    background-color: rgb(217, 241, 239);
    opacity: 0.8;
    border-radius: 15px;
    z-index: 1;
    color: #7c5858;
}

/* search box */

.search {
    /* border: 2px solid green; */
    position: relative;
    right: 75px;
    float: right;
    top: 15px;
}

#searchText {
    /* border: 2px solid yellow; */
    border-radius: 25px;
    font-size: 17px;
    width: 110px;
    outline: none;
}

/* body detail */

.main_container {
    background-image: url();
}

.Detail-page {
    /* border: 2px solid black; */
    margin: 32px 425px;
    border-radius: 30px;
    font-family: 'Blaka Ink', cursive;
    background-color: rgb(198, 218, 216);
    width: 35%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgb(248, 240, 240), 0 0px 3px 0 rgba(207, 205, 205, 0.938);
}

.Detail-page h1 {
    font-size: 40px;
    text-align: center;
}

.Detail-page h3 {
    /* font-size: 40px; */
    font-family: sans-serif;
    text-align: center;
    color: #724b4b;
}

.form input {
    display: block;
    text-align: center;
    border: 2px solid rgb(182, 156, 156);
    margin: 15px auto;
    border-radius: 14px;
    font-size: 18px;
    width: 50%;
}

/* .Detail-page button */
/* input[type="submit"]{ */
    .btn {
    display: block;
    width: 25%;
    margin: 20px auto;
    border-radius: 15px;
    font-size: 30px;
    background-color: rgb(182, 156, 156);
    font-weight: bold;
}

/* .Detail-page button:hover  */
/* input[type="submit"]:hover{ */
    .btn:hover{
    background-color: #92824d;
}

.img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(190, 168, 168);
    width: 100%;
    margin: auto;
    height: 228px;
  }
  
.img-container img{
    display: block;
    width: 332px;
    height: 183px;
    margin: 12px auto;
    border-radius: 20px;
}

.footer{
    bottom: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 8px 0px;
}

/* service page */

.service-head{
    /* border: 2px solid; */
    text-align: center;
    font-size: 40px;
    margin: 0;
}
.service-para{
    margin: 0;
    /* border: 2px solid; */
    text-align: center;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    color: aliceblue;
}
.service-container{
    margin: 8px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #b69c9c;
    padding: 15px;
    border-radius: 8px;
    border: 15px solid rgb(112, 112, 112, 0.7);
}

.services{
    /* border: 2px solid; */
    width: 300px;
    height: 220px;
    margin: 10px 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.service-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.55;
    transition: 0.3s;
    margin: 5px 0px;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover{
    opacity: 1;
    box-shadow:  0px 0px 1px 8px rgb(243, 235, 235);
}

/* responsive screen */

@media screen and (max-width: 875px) {
    
    .menu-icon {
        display: inline-block;
        height: 47px;
        width: 46px;
        margin-left: 13px;
        top: 7px;
        position: relative;
    }
    .sidebar {
        display: none;
        height: 80%;
        width: 35%;
        position: absolute;
        z-index: 1;
        top: 35px;
        left: -82px;
        background-color: rgb(112, 112, 112);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        border-radius: 5px;
        opacity: 0.98;
      }
      .closebtn{
        display: block;
        height: 32px;
        /* border: 2px solid black; */
        position: relative;
        top: -32px;
        width: 100%;
        font-size: 31px;
        text-decoration: none;
        right: -101px;
        margin: -32px 0;
        padding: 0;
        color: black;
        left: -8px;
        text-align: end;
      }
    .logo {
        margin: 0px 15%;
        /* border: 2px solid; */
        bottom: 43px;
        position: relative;
        left: 44px;
        width: 50%;
        text-align: center;
    }

    nav ul {
        margin: 0px 20%;
        display: none;
    }

    nav ul li {
        border: 2px solid #ecd3d3;
        border-radius: 4px;
        width: 100%;
        margin: 2px 0px;
    }

    .head1 {
        /* font-size: 23px; */
        padding: 3px;
    }

    .head1:hover {
        border-radius: 4px;
        /* width: 125px; */
        width: 100%;
        box-shadow: 5px 4px;
    }
    .contact-content {
        display: none;
        width: 100%;
        top: 34px;
        z-index: 1;
        background-color: #c6dad8;
        flex-direction: column;
    }
    .head2{
        padding: 3px 0;
        
    }
    .dropdown:hover .contact-content {
        display: flex;
    }
    .search {
        position: static;
        margin: -25px auto;
        width: 100%;
      }

    #searchText {
        font-size: 16px;
        text-align: center;
        margin: 0 32%;
        width: 34%;
    }

    .Detail-page {
        margin: 30px 7%;
        width: 85%;
    }
    form{
        margin-top: 30px;
    }
    .Detail-page h1 {
        font-size: 25px;
        padding-top: 22px;
    }
    .Detail-page h3{
        font-size: 16px;
        padding: 10px 0;
    }
    .Detail-page input[type="submit"] {
        font-size: 15px;
    }

    .img-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
    }

    .img-container img{
        display: block;
        width: 332px;
        height: 183px;
        border-radius: 20px;
    }
    .service-head{
        font-size: 20px;
        margin-top: 10px;
    }
    .service-para{
        margin: 2px;
        font-size: 16px;
    }
    .service-img{
        width: 100%;
        height: 95%;
        opacity: 1;
    } 
}

@media screen and (max-width: 1320px) {

    .header{
        height: 80px;
    }
    .Detail-page{
        width: 85%;
        margin: 21px auto;
        display: block;
        height: 410px;
    }
    .form input {
        width: 65%;
        font-size: 16px;
    }

    /* .Detail-page  */
    input[type="submit"] 
    {
        font-size: 15px;
    }
     .img-container{
        height: 412px;
    }
}

@media screen and (max-width: 650px) {

    .form input {
        width: 80%;
        font-size: 16px;
    }

    /* .Detail-page button  */
    input[type="submit"]{
        font-size: 15px;
    }
    .img-container{
        height: 818px;
    }
}

@media screen and (max-width: 725px) {
    .head h1 {
        font-size: 35px;
        letter-spacing: 7px;
    }
}