body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Rubik Dirt', cursive;
    background-image: url('https://images.unsplash.com/photo-1603732551681-2e91159b9dc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNvbXB1dGVyJTIwcGFydHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
}
.head{
    position: relative;
}
.head::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("https://cdn.pixabay.com/photo/2017/01/06/09/33/construction-material-1957326__340.jpg");
    opacity: 0.7;
    top: 1px;
    width: 100%;
    height: 100%;
}
.head h1{
    position: relative;
    text-align: center;
    font-size: 35px;
    letter-spacing: 35px; 
    font-family: 'Blaka Ink', cursive;
    margin: 0;
}
.header {
    /* border: 2px solid red; */
    background-color: rgb(182, 156, 156);
    display: inline-block;
    width: 100%;
}

.logo {
    /* border: 2px solid black; */
    display: inline-block;
    width: 50px;
    margin: 0px 10px;
}

.head1 {
    font-size: 28px;
    padding: 14px;
}

nav ul {
    /* border: 2px solid blue; */
    display: inline-block;
    margin: 0px;
    width: auto;
}

nav ul li {
    display: inline-block;
    /* border: 2px solid black; */
    margin: 0px auto;
    position: relative;
    right: 20px;
    border-radius: 25px;
    list-style-type: none;
}

.head1,
.dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.head1:hover {
    background-color: rgb(244, 223, 223);
    box-shadow: 5px 4px;
    border-radius: 25px;
}

/* contact */

.contact-content {
    display: none;
    position: absolute;
    background-color: rgb(117, 243, 228);
    width: 505px;
    /* border: 2px solid red; */
    top: 57px;
    border-radius: 15px;
}

.head2 {
    display: inline;
    margin: 0px 5px;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;
    color: black;
    font-weight: bold;
    padding: 10px;
    margin: 0px 10px;
}

.dropdown:hover .contact-content {
    display: block;
}

.contact-content a:hover {
    background-color: rgb(217, 241, 239);
    opacity: 0.8;
    border-radius: 15px;
    z-index: 1;
    color: #7c5858;
}

/* search box */

.search {
    /* border: 2px solid green; */
    position: relative;
    right: 75px;
    float: right;
    top: 15px;
}

#searchText {
    border: 2px solid yellow;
    border-radius: 25px;
    font-size: 17px;
    width: 110px;
}

.Detail-page {
    border: 2px solid black;
    margin: 60px 50px;
    border-radius: 30px;
    font-family: 'Blaka Ink', cursive;
    background-color: rgb(198, 218, 216);
    width: 35%;
}

.Detail-page h1 {
    font-size: 40px;
    text-align: center;
}

.form input {
    display: block;
    text-align: center;
    border: 2px solid rgb(182, 156, 156);
    margin: 15px auto;
    border-radius: 14px;
    font-size: 18px;
    width: 50%;
}

.Detail-page button {
    display: block;
    width: 25%;
    margin: 20px auto;
    border-radius: 15px;
    font-size: 30px;
    background-color: rgb(182, 156, 156);
    font-weight: bold;
}

.Detail-page button:hover {
    background-color: #92824d;
}

/* responsive screen */

@media screen and (max-width: 875px) {

    .logo {
        /* border: 2px solid yellow; */
        margin: 0px 40%;
    }

    nav ul {
        /* border: 2px solid #008000; */
        margin: 0px 10px;
    }

    nav ul li {
        /* border: 1px solid white; */
        margin: 5px 0px;
    }

    .head1 {
        font-size: 16px;
        padding: 3px;
    }

    .contact-content {
        display: none;
        /* border: 2px solid red; */
        width: auto;
        top: 25px;
        left: -47px;
    }

    .search {
        position: static;
    }

    .searchText {
        font-size: 16px;
        /* width: 80px; */
    }

    .Detail-page {
        /* margin: 60px auto; */
        width: auto;
    }

    .Detail-page h1 {
        font-size: 25px;
    }

    .Detail-page button {
        font-size: 15px;
    }
}

@media screen and (max-width: 1320px) {

    .contact-content {
        width: auto;
    }

    .form input {
        width: 65%;
        font-size: 16px;
    }

    .Detail-page button {
        font-size: 15px;
    }
}

@media screen and (max-width: 650px) {

    .form input {
        width: 80%;
        font-size: 16px;
    }

    .Detail-page button {
        font-size: 15px;
    }
}

@media screen and (max-width: 725px) {
    /* .head::before{
        width: 100%;
    } */

    .head h1{
        font-size: 35px;
        letter-spacing: 7px; 
    }
}