body{
    box-sizing: border-box;
    /* background-color: #065571; */
    z-index: 0;
}
h1{
    text-align: center;
    border: 1px solid black;
    margin: 10px auto;
    background-color: #baffa6;
    width: 40%;
    border-radius: 20px;
}
.container{
    border: 2px solid red;
    width: 800px;
    height: 500px;
    margin: 50px auto;
    background-color: #fae198;
}
.set1{
    margin: 0px auto;
    border: 2px solid blue;
    float: left;
    overflow: auto;
    height: 82%;
}
div legend{
    text-align: center;
    position: sticky;
    top: 0px;
    border: 2px solid;
    background-color: darkslategrey;
    color: aliceblue;
    font-size: 22px;
    z-index: 1;
    /* border-radius: 15px; */
}
#studentsName{
    width: 25%;
    float: inline-start;
    /* height: 100%; */
    margin: 0px 5px;
    background-color: #baffa6;
}
#studentsDetailsHead{
    width: 72%;
    margin: 0px 0px;
    background-color: #baffa6;
}
.studentsDetails{
    border: 2px solid black;
    background-color: #b6b6cb;
    height: 50%;
    margin: 2px auto;
}
.profile1 a {
    border: 1.5px solid red;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 3px 4px;
    padding: 5px 0px;
    background-color: #cca9a9;
}
.pic{
    border: 1px solid red;
    display: block;
    margin: 5px auto;
    text-align: center;
    height: 35%;
    border-radius: 40%;
}
    
.studentsDetails li{
    list-style-type: none;
    /* display: inline-block; */
    border: 1px solid #b5eda9;
    margin: 3px auto;
    font-size: 24px;
    position: relative;
    right: 20px;
    bottom: 5px;
    padding: 0px 10px;
}
button{
    border: 2px solid red;
    float: right;
    position: relative;
    bottom: 15px;
    right: 20px;
    border-radius: 10px;
}
.Dorae{
    color: #002db5;;
}